.half-mid {
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #093b52;
  width: 100%;
}

.center {
  margin: auto;
  width: 100%;
  padding-top: 6rem;
}

.middle {
  width: 200px;
  height: 150px;
  position: absolute; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

.left {
  position: absolute;
  left: 0px;
  width: 300px;
  padding: 10px;
}